
    <h2>Dashboard</h2>
    <p>Welcome {{dbUser.name}}</p>
    <p>Your weight is {{dbUser.weight}}</p>
    
 
<p>
    <a href="/logout">Logout</a>
</p>


<script src="/assets/js/dashboard.js"></script>