    <div class="container">
    <h2>Dashboard</h2>
    <p>Welcome {{dbUser.name}}</p>
    <p>Your weight is {{dbUser.weight}}</p>
    {{data.name}}
  <h1> How tipsy would you like to be on a scale of 1 to 4!</h1>

        <div class="slidecontainer">
            <input type="range" min="1" max="4" value="1" class="slider" id="myRange">

            <p>Value: <span id="demo"></span></p>
        </div>

        <div id="levels"></div>

        <center><font size="10"></font><div id="drunkness"></div></font></center>
        <h2> What kind of alcohol will you be drinking?</h2>

        <select id="drink_menu" class="form-control">
            <option value="0.05">Beer</option>
            <option value="0.12">Wine</option>
            <option value="0.4">The Hard Stuff</option>
        </select>

        <br>

        <h2> How many hours is this going to take?</h2>
        <select id="2" class="form-control">
            <option value="1">1 Hour</option>
            <option value="2">2 Hours</option>
            <option value="3">3 Hours</option>
            <option value="4">4 Hours</option>
            <option value="5">5 Hours</option>
            <option value="6">6 Hours</option>
        </select>

        <br>
        <br> 
     <div>
         <button type="button" id="drinks">Get Tipsy</button>
     </div>

     <div id = "formula"></div>

        {{!-- <script src="/assets/js/slider.js"></script> --}}

<p>
    <a href="/logout">Logout</a>
</p>

</div>

<script src="/assets/js/dashboard.js"></script>
