	<form> 
		
        <div class="container">
          <div class="block_email">
            <label for="uname"><b>Email</b></label>
            <input type="text" id="txtEmail" placeholder="Email" name="uname" required>
          </div>
          <div class="block_password">
            <label for="psw"><b>Password</b></label>
            <input type="password" id="txtPassword1" placeholder="Enter Password" name="psw1" required>
          </div>
          <div class="block_confirm_password">
            <label for="psw"><b>Confirm Password</b></label>
            <input type="password" id="txtPassword2" placeholder="Password Again" name="psw2" required>
          </div>      
         
          <button type="submit" id="add-user">Login</button>
          <button id="reg-user">Register</button>
          <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
          </label> -->
        </div>
      
        <div class="container">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
		   </form>